.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row: auto;
}
.divImage {
  grid-column: 1 / 2;
}
.whoIam { 
  grid-column: 2 / 4;
}


body{
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-weight: 300;
  size: 16px;
  line-height: 16px;
  margin-top: 5em;
  background-color:#192242 ;
}
h1{
  color:#7BDCB0;
  background-color: #DFE9EB;
  margin-left: 2em;
  border: solid 2em#DFE9EB;
  border-radius: 10px;
}

h2{
  color: #2E75DD;
  margin-left: 4em;
}
small{
  color:#51A9C7;
  font-size: 0.6em;
}

button{
  display: none;
}
.carousel-prev.block, .carousel-next.block{
  display: none;
}
p{
  width: 80%;
  margin-left: 6.1em;
  text-align: justify;
  color: white;
  line-height: 140%;
}
.carousel-initialized{
  height: 60vh;
  margin-right:2em;
}
img{
  width: 25vw;
  filter: grayscale(100%);
  margin-top: 2em;
  border-radius: 10px ;
   overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:250px;
    height:250px;
}
.divImage{
  text-align:center;
}
.whoIam{
  margin-top: 4em;
}
.icon{
  width: 2em;
  height: 2em;
  margin-top: 0;
  margin-left:6em;
  border-radius:hidden;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
}


@media screen and (max-width: 850px) {
  .divImage {
    grid-column: 1 / 4;
  }
  .whoIam { 
    grid-column: 1 / 4;
  }
  .carousel-initialized{
    height: 45vh;
  }
}

@media screen and (max-width: 445px) {
  body{
    margin-top:1em;
    font-weight:1em;
  }
  .wrapper{
    display:block;
  }
  .whoIam{
    margin-top:0;
  }
  .carousel-initialized{
    height: 75vh;
  }
  p {
    margin: auto;
    font-size: 0.9em;
  }
  h1{
    margin-left: 0.5em;
  }
  h2{
    margin-left: 0.8em;
  }
  img{
    display: none;
  }
  .icon{
    display:block;
    margin-left: 2em;
  }


}
